<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Windows_Input_Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
   <section name="Windows_Usage_Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Windows_Input_Simulator.Properties.Settings>
   <setting name="intset" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="intwis" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="evespersecond" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="executeonload" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="dcdm" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="topmost" serializeAs="String">
    <value>True</value>
   </setting>
  </Windows_Input_Simulator.Properties.Settings>
  <Windows_Usage_Simulator.Properties.Settings>
   <setting name="intset" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="intwas" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="evespersecond" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="executeonload" serializeAs="String">
    <value>False</value>
   </setting>
  </Windows_Usage_Simulator.Properties.Settings>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
